* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --p-color: #42D69D;
    --white-color: #e2e2e2;
    --black-color: #535461;
    --button-color: #6C94CE;
    --button-hover-color: #7598cc;
    --input-color: #E9E9E9;
    --input-border-color: #D7D5D5;

    --p-font-family: 'Poppins', sans-serif;
}
