body {
    background-color: var(--white-color);
    font-family: var(--p-font-family);

    height: auto;
}

#buttons-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;

    font-size: 1.1rem;

    padding: 7rem 2rem 3.5rem;
}

#submit-button+#submit-button {
    margin-top: 4rem;
}

#submit-button {
    width:100%;
    max-width: 320px;
    height: 70px;
    background-color: var(--button-color);
    color: var(--black-color);
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    border: none;
    text-decoration: none;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content:center ;


    transition: background-color .1s;
}

#submit-button:hover {
    background-color: var(--button-hover-color);
}

@media (min-width: 700px) {
    #submit-button {
        font-size: 1.5rem;
        max-width: 500px;
    }



}